<div id="search" class="search-container">
    <div class="search-search">
        <input type="search" class="search-search-input" name="search" id="" placeholder="Search..."/>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="search-icon">
        <i class="fa-solid fa-bag-shopping"></i>
        <p class="search-icon-tag">1</p>
    </div>
    <div class="search-icon">
        <i class="fa-regular fa-message"></i>
        <p class="search-icon-tag">9+</p>
    </div>
</div>
